<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
			rel="stylesheet"
		/>

		<script
			src="https://kit.fontawesome.com/a35b44c601.js"
			crossorigin="anonymous"
		></script>

		<link rel="stylesheet" type="text/css" href="styles/css/main.css" />
	</head>
	<body>
		<main class="container">
			<header role="banner" class="header">
				<a href="index.html" class="header__link">
					<img
						src="img/logo-fisheye.png"
						alt="Fisheye Homepage"
						class="header__img"
					/>
				</a>
			</header>
			<nav aria-label="Photographer categories" class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a class="nav__link" href="">Portrait</a></li>
					<li class="nav__item"><a class="nav__link" href="">Art</a></li>
					<li class="nav__item">
						<a class="nav__link" href="">Architectures</a>
					</li>
					<li class="nav__item"><a class="nav__link" href="">Travel</a></li>
					<li class="nav__item"><a class="nav__link" href="">Sport</a></li>
					<li class="nav__item"><a class="nav__link" href="">Animals</a></li>
					<li class="nav__item"><a class="nav__link" href="">Events</a></li>
				</ul>
			</nav>
			<h1 class="page-title">Nos photographes</h1>
			<section class="section">
				<div class="user">
					<a href="photographer.html" class="user__link">
						<img
							class="user__img"
							src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
							alt=""
						/>
						<h2 class="user__name">Mimi Keel</h2>
					</a>
					<div class="user__infos">
						<span class="user__infos-location">
							<p>London, UK</p>
						</span>
						<span class="user__infos-catchphrase">
							<p>Voir le beau dans le quotidien</p>
						</span>
						<span class="user__infos-price">
							<p>400 €/jour</p>
						</span>
					</div>
					<div class="user__categories">
						<ul class="user__categories-list">
							<li class="user__categories-item">
								<a href="" class="user__categories-link">portrait</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">events</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">animals</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="user">
					<a href="photographer.html" class="user__link">
						<img
							class="user__img"
							src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
							alt=""
						/>
						<h2 class="user__name">Mimi Keel</h2>
					</a>
					<div class="user__infos">
						<span class="user__infos-location">
							<p>London, UK</p>
						</span>
						<span class="user__infos-catchphrase">
							<p>Voir le beau dans le quotidien</p>
						</span>
						<span class="user__infos-price">
							<p>400 €/jour</p>
						</span>
					</div>
					<div class="user__categories">
						<ul class="user__categories-list">
							<li class="user__categories-item">
								<a href="" class="user__categories-link">portrait</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">events</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">animals</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="user">
					<a href="photographer.html" class="user__link">
						<img
							class="user__img"
							src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
							alt=""
						/>
						<h2 class="user__name">Mimi Keel</h2>
					</a>
					<div class="user__infos">
						<span class="user__infos-location">
							<p>London, UK</p>
						</span>
						<span class="user__infos-catchphrase">
							<p>Voir le beau dans le quotidien</p>
						</span>
						<span class="user__infos-price">
							<p>400 €/jour</p>
						</span>
					</div>
					<div class="user__categories">
						<ul class="user__categories-list">
							<li class="user__categories-item">
								<a href="" class="user__categories-link">portrait</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">events</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">animals</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="user">
					<a href="photographer.html" class="user__link">
						<img
							class="user__img"
							src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
							alt=""
						/>
						<h2 class="user__name">Mimi Keel</h2>
					</a>
					<div class="user__infos">
						<span class="user__infos-location">
							<p>London, UK</p>
						</span>
						<span class="user__infos-catchphrase">
							<p>Voir le beau dans le quotidien</p>
						</span>
						<span class="user__infos-price">
							<p>400 €/jour</p>
						</span>
					</div>
					<div class="user__categories">
						<ul class="user__categories-list">
							<li class="user__categories-item">
								<a href="" class="user__categories-link">portrait</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">events</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">animals</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="user">
					<a href="photographer.html" class="user__link">
						<img
							class="user__img"
							src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
							alt=""
						/>
						<h2 class="user__name">Mimi Keel</h2>
					</a>
					<div class="user__infos">
						<span class="user__infos-location">
							<p>London, UK</p>
						</span>
						<span class="user__infos-catchphrase">
							<p>Voir le beau dans le quotidien</p>
						</span>
						<span class="user__infos-price">
							<p>400 €/jour</p>
						</span>
					</div>
					<div class="user__categories">
						<ul class="user__categories-list">
							<li class="user__categories-item">
								<a href="" class="user__categories-link">portrait</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">events</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">animals</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="user">
					<a href="photographer.html" class="user__link">
						<img
							class="user__img"
							src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
							alt=""
						/>
						<h2 class="user__name">Mimi Keel</h2>
					</a>
					<div class="user__infos">
						<span class="user__infos-location">
							<p>London, UK</p>
						</span>
						<span class="user__infos-catchphrase">
							<p>Voir le beau dans le quotidien</p>
						</span>
						<span class="user__infos-price">
							<p>400 €/jour</p>
						</span>
					</div>
					<div class="user__categories">
						<ul class="user__categories-list">
							<li class="user__categories-item">
								<a href="" class="user__categories-link">portrait</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">events</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">travel</a>
							</li>
							<li class="user__categories-item">
								<a href="" class="user__categories-link">animals</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
