<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
			rel="stylesheet"
		/>

		<script
			src="https://kit.fontawesome.com/a35b44c601.js"
			crossorigin="anonymous"
		></script>

		<link rel="stylesheet" type="text/css" href="styles/css/main.css" />
	</head>
	<body>
		<main class="container">
			<header role="banner" class="header">
				<a href="index.html" class="header__link">
					<img
						src="img/logo-fisheye.png"
						alt="Fisheye Homepage"
						class="header__img"
					/>
				</a>
			</header>
			<section class="section photographer-infos">
				<div class="photographer-infos__details">
					<h1 class="photographer-infos__name">Mimi Keel</h1>
					<span class="photographer-infos__location">
						<p>London, UK</p>
					</span>
					<span class="photographer-infos__catchphrase">
						<p>Voir le beau dans le quotidien</p>
					</span>
					<div class="photographer-infos__categories">
						<ul class="photographer-infos__categories-list">
							<li class="photographer-infos__categories-item">
								<a href="" class="photographer-infos__categories-link"
									>portrait</a
								>
							</li>
							<li class="photographer-infos__categories-item">
								<a href="" class="photographer-infos__categories-link"
									>events</a
								>
							</li>
							<li class="photographer-infos__categories-item">
								<a href="" class="photographer-infos__categories-link"
									>travel</a
								>
							</li>
							<li class="photographer-infos__categories-item">
								<a href="" class="photographer-infos__categories-link"
									>animals</a
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="photographer-infos__contact-wrap">
					<button class="photographer-infos__contact modal-trigger" data-target="contact">Contactez-moi</button>
				</div>
				<div class="photographer-infos__img">
					<img
						class="user__img"
						src="img/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
						alt=""
					/>
				</div>
			</section>

			<section class="section photographer-medias">
				<div class="photographer-medias__sort-wrap">
					<span id="sortMediasLabel" class="photographer-medias__sort-label">
						Trier par
					</span>
					<button
						id="sortMediaButton"
						class="photographer-medias__sort-button"
						aria-haspopup="listbox"
						aria-labelledby="sortMediasLabel"
					>
						Popularité
					</button>
					<ul
						id="sortMediaList"
						class="photographer-medias__sort-list"
						tabindex="-1"
						role="listbox"
						aria-labelledby="exp_elem"
					>
						<li class="photographer-medias__sort-option" role="option">
							Popularité
						</li>
						<li class="photographer-medias__sort-option" role="option">Date</li>
						<li class="photographer-medias__sort-option" role="option">
							Titre
						</li>
					</ul>
				</div>
				<div class="photographer-medias__grid">
					<div class="media-card modal-trigger" data-target="lightbox" tabIndex="0">
						<div class="media-card__upper-body">
							<img
								class="media-card__img"
								src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
								alt=""
							/>
						</div>
						<div class="media-card__lower-body">
							<p class="media-card__title">Arc-en-cie</p>
							<p class="media-card__price">70 €</p>
							<p class="media-card__like">12 <i class="fas fa-heart"></i></p>
						</div>
					</div>
					<div class="media-card modal-trigger" data-target="lightbox" tabIndex="0">
						<div class="media-card__upper-body">
							<img
								class="media-card__img"
								src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
								alt=""
							/>
						</div>
						<div class="media-card__lower-body">
							<p class="media-card__title">Arc-en-cie</p>
							<p class="media-card__price">70 €</p>
							<p class="media-card__like">12 <i class="fas fa-heart"></i></p>
						</div>
					</div>
					<div class="media-card modal-trigger" data-target="lightbox" tabIndex="0">
						<div class="media-card__upper-body">
							<img
								class="media-card__img"
								src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
								alt=""
							/>
						</div>
						<div class="media-card__lower-body">
							<p class="media-card__title">Arc-en-cie</p>
							<p class="media-card__price">70 €</p>
							<p class="media-card__like">12 <i class="fas fa-heart"></i></p>
						</div>
					</div>
					<div class="media-card modal-trigger" data-target="lightbox" tabIndex="0">
						<div class="media-card__upper-body">
							<img
								class="media-card__img"
								src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
								alt=""
							/>
						</div>
						<div class="media-card__lower-body">
							<p class="media-card__title">Arc-en-cie</p>
							<p class="media-card__price">70 €</p>
							<p class="media-card__like">12 <i class="fas fa-heart"></i></p>
						</div>
					</div>
					<div class="media-card modal-trigger" data-target="lightbox" tabIndex="0">
						<div class="media-card__upper-body">
							<img
								class="media-card__img"
								src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
								alt=""
							/>
						</div>
						<div class="media-card__lower-body">
							<p class="media-card__title">Arc-en-cie</p>
							<p class="media-card__price">70 €</p>
							<p class="media-card__like">12 <i class="fas fa-heart"></i></p>
						</div>
					</div>
					<div class="media-card modal-trigger" data-target="lightbox" tabIndex="0">
						<div class="media-card__upper-body">
							<img
								class="media-card__img"
								src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
								alt=""
							/>
						</div>
						<div class="media-card__lower-body">
							<p class="media-card__title">Arc-en-cie</p>
							<p class="media-card__price">70 €</p>
							<p class="media-card__like">12 <i class="fas fa-heart"></i></p>
						</div>
					</div>
				</div>
			</section>
			<div class="contact-modal" id="contact" hidden>
				<div class="contact-modal__wrap">
					<i class="fas fa-times contact-modal__close modal-close" data-target="contact"></i>
					<div class="contact-form">
						<h1 class="contact-form__title">Contactez- moi<br />Mimi Keel</h1>
						<form action="" class="contact-form__form">
							<label for="firstName" class="contact-form__label">
								Prénom
								<input
									type="text"
									name=""
									id="firstName"
									class="contact-form__input"
								/>
							</label>
							<label for="lastName" class="contact-form__label">
								Nom
								<input
									type="text"
									name=""
									id="lastName"
									class="contact-form__input"
								/>
							</label>
							<label for="email" class="contact-form__label">
								Email
								<input
									type="email"
									name=""
									id="email"
									class="contact-form__input"
								/>
							</label>
							<label for="message" class="contact-form__label">
								Votre message
								<textarea
									name=""
									id="message"
									class="contact-form__textarea"
								></textarea>
							</label>
							<button type="submit" class="contact-form__submit">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
			<div class="lightbox-modal"  id="lightbox" hidden>
				<div class="lightbox-modal__wrap" id="lightbox">
					<button class="lightbox-modal__close modal-close" data-target="lightbox">X</button>
					<a href="" class="lightbox-modal__previous"><i class="fas fa-chevron-left"></i></a>
					<img
						src="img/Sample Photos/Mimi/Animals_Rainbow.jpg"
						alt=""
						class="lightbox-modal__img"
					/>
					<a href="" class="lightbox-modal__next"><i class="fas fa-chevron-right"></i></a>
					<div class="lightbox-modal__title-wrap">
						<p class="lightbox-modal__title">Arc en ciel</p>
					</div>
				</div>
			</div>
		</main>
		<script src="scripts/dropdown.js"></script>
		<script src="scripts/modal.js"></script>
	</body>
</html>
