.nav {
  width: 50%;
  display: flex;
  padding: 3rem 0;
  justify-content: center;
}

@media (max-width: 1024px) {
  .nav {
    order: 3;
    width: 100%;
  }
}

@media (max-width: 428px) {
  .nav {
    padding: 0;
  }
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__item {
  margin-bottom: 0.375rem;
}
